@font-face
{
    font-family: "MontSerrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "MontSerrat", Tahoma;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: None !important;
    list-style: None;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
    font-weight: bold;
}

.logo{
    color: #fff !important;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}

.navlist{
    display: flex;
}

.navlist a{
    color: #fff !important;
    font-size: 17px;
    font-weight: 17px;
    margin: 0 25px;
    transition: all .45s ease;
}

.navlist a:hover{
    color: gold !important;
}


#menu-icon{
    font-size:35px;
    color: #fff !important;
    z-index: 10001;
    cursor: pointer;
    margin-left: 35px;
    font-weight: Bold;
    transition: all .45s ease;
    display: none;
    margin-top: 0;
}

#menu-icon:hover{
    color: gold !important;
}

header.sticky{
    background: rgb(0,0,0,.6);
    border: none;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid #ffffff1a;
}

body{
    background-color: black !important;
    color: #fff !important;
}

span{
    color:/*#f4ac2d*/ gold;
    font-weight: bolder;
}

section{
    padding: 160px 15% 120px;
}

button{
    background: none;
    cursor: pointer !important;
    width: 12px;
    height: 35px;
    border: #fff;
    color: #fff;
    font-size: 14px !important;
}  

/*-- FOOTER--*/

.scrollup{
	width:40px;
	height:40px;			
	position:fixed;
	bottom:40px;
	right:8px;
    font-size: 36px;
    color:white !important;
    display:none;	
    transition: all .45s ease;
    -webkit-filter: drop-shadow(0px 0px 3px black);
    filter: drop-shadow(0px 0px 3px black);
}

.scrollup:hover{
    cursor:pointer;
}
