@font-face
{
    font-family: "MontSerrat";
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
html{
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;
}
*{
    font-family: "MontSerrat", Tahoma;
    font-optical-sizing: auto;
    font-display: swap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: None !important;
    list-style: None;
    scroll-behavior: smooth;
}
a{
    color: #fff;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
    font-weight: bold;
    padding: 22px 15%;
}
.logo{
    color: #fff !important;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}
.navlist{
    display: flex;
}
.navlist a{
    color: #fff !important;
    font-size: 17px;
    font-weight: 17px;
    margin: 0 25px;
    transition: all .45s ease;
}
.navlist a:hover{
    color: #ddb73b !important;
}
#menu-icon{
    font-size:35px;
    color: #fff !important;
    z-index: 10001;
    cursor: pointer;
    margin-left: 35px;
    font-weight: Bold;
    transition: all .45s ease;
    display: none;
    margin-top: 0;
}
#menu-icon:hover{
    color: #ddb73b !important;
}
header.sticky{
    background: rgb(0,0,0,.6);
    border: none;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-bottom: 1px solid #404040;
    padding: 20px 2.5%;
    transition: all .50s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
body{
    background-color: black;
    color: white;
    /*background: linear-gradient( to bottom, rgba(0,0,0,0.1),rgba(0, 0, 0, 0), black ),
                        url(../images/Portada.webp) fixed;
    background-size: cover;
    background-position: center;
    width:100%;
    height:100%;*/
}

span{
    color:#ddb73b;
    font-weight: bolder;
}
section{
    padding: 160px 15% 120px;
}
button{
    background: none;
    cursor: pointer !important;
    height: 35px;
    border: #fff;
    color: #fff;
    font-size: 14px !important;
}  
.scrollup{
	position: fixed;
	bottom: 20px;
	right: 20px;
    display: none;	
    transition: all .45s ease;
    -webkit-filter: drop-shadow(0px 0px 3px black);
    filter: drop-shadow(0px 0px 3px black);
    user-select: none;
    transition: all .50s ease-in-out;
}
.scrollup:hover{
    cursor:pointer;
}
.scrollup i{
    color:white !important;
    font-size: 48px;
    font-weight: bold;
}
.input-error{
    border-color:  red;
}
.find{
    background: #222;
    border: 1px solid #5f5d5d;
    text-align: center;
    height: 35px;
    color: #fff;
    padding: 15px;
    margin: 25px 10px;
    width: 250px;
}
.find:focus{
    outline: none;
}
#pagination{
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
}
h1, h2, h3, li, #pagination{
   user-select: none;
}
.payNow{
    transition: all .50s ease-in-out;
    padding: 5px;
}
.payNow:hover{
    background: #ccc;
    color: black;
    border-radius: 5px;
    font-weight: bolder;
}