.contact{
    background-image: linear-gradient( to bottom, rgba(0,0,0,0.1),rgba(0, 0, 0, 0), black ), 
                      url(../images/about.webp);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.contact-text{
    text-align: center;
    align-content: center;
    place-content: center;
}
.contact-text h4{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.contact-form h2{
    color: #fff;
    margin: 18px 0;
    font-size: 3rem;
    line-height: 1;
    animation-name: transition_enfasis;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.contact-text p{
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 30px;
}
.contact-text img{
    width: min-content;
}

.form{
    position: relative;
}
.form input, .form textarea{
    width: 100%;
    padding: 14px;
    background: #2a2a2a;
    color: #fff;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    border: #404040 2px solid;
}
.form textarea{
    resize: none;
    height: 240px;
}
.submit-telegram{
    display: flex;
    padding: 12px 28px;
    border-radius: 5px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: bolder;
    color:#fff;
    background: rgb(41, 160, 220);
    transition: all .45s ease;
    width: 100% !important;
    text-align: center;
    align-content: center;
    place-content: center;
}
.submit-telegram:hover{
    background: rgb(31, 120, 165);
    cursor: pointer;
}
label{
    font-weight: bold;
    line-height: 2.0;
    color:red;
}