/*------------------------------------------------------------------
    TRANSITIONS 
-------------------------------------------------------------------*/
@keyframes transition_enfasis
{
    0% {
        -webkit-filter: drop-shadow(0px 0px 20px gold);
        filter: drop-shadow(0px 0px 20px yellow);
        }
    50% {
        -webkit-filter: drop-shadow(0px 0px 10px yellow);
        filter: drop-shadow(0px 0px 10px gold);
        }
    100% {
        -webkit-filter: drop-shadow(0px 0px 20px gold);
        filter: drop-shadow(0px 0px 20px yellow);
    }
}

@keyframes transition_sepia{
    0%{
        filter: none;
    }
    50%{
        filter: sepia();
    }
    100%{
        filter: none;
    }
}
