@keyframes transition_enfasis
{
    0% {
        -webkit-filter: drop-shadow(0px 0px 20px gold);
        filter: drop-shadow(0px 0px 20px yellow);
        }
    50% {
        -webkit-filter: drop-shadow(0px 0px 10px yellow);
        filter: drop-shadow(0px 0px 10px gold);
        }
    100% {
        -webkit-filter: drop-shadow(0px 0px 20px gold);
        filter: drop-shadow(0px 0px 20px yellow);
    }
}

@keyframes transition_sepia{
    0%{
        filter: none;
    }
    50%{
        filter: sepia();
    }
    100%{
        filter: none;
    }
}

@keyframes transition_gallery{
    0%{
        background-image: url(../images/gallery-about/G1.webp);
    }
    20%{
        background-image: url(../images/gallery-about/G2.webp);
    }
    40%{
        background-image: url(../images/gallery-about/G3.webp);
    }
    60%{
        background-image: url(../images/gallery-about/G4.webp);
    }
    80%{
        background-image: url(../images/gallery-about/G5.webp);
    }   
    100%{
        background-image: url(../images/gallery-about/G1.webp);
    }
}

@keyframes escaner {
    0% {
      clip-path: inset(0 100% 0 0);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
  }
  
  @keyframes lineaAmarilla {    
    0% {
        left: 0;
    }
    100% {
        left: calc(100%);
    }
  }

