.footer{
    background-image: linear-gradient( to bottom, rgba(0,0,0,0.1),rgba(0, 0, 0, 0), rgba(221, 183, 59, 0.3)  );
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    place-content: center;
    text-align: center;
    gap: 2rem;
}
