.home{
    display: flex;
    background-image: linear-gradient( to bottom, rgba(0,0,0,0.1),rgba(0, 0, 0, 0), black ),
                      url(../images/Portada.webp);
    background-size: cover;
    background-position: center;
    grid-template-columns: repeat(2fr, 1);
    align-items: normal;
    gap: 5rem;
}
.slide{
    margin-bottom: 20px;
}
.dos{
    display: inline-block;
    color: #ccc !important;
    font-size: 20px;
    font-weight: 500;
    padding-top:40px;
}
.home-text-h1{
    font-size: 4rem;
    font-weight: 700;
    color:#ccc;
    line-height: 1.1;
    margin: 0 0 8px;
}
.home-text-h3{
    font-size: 1.8rem;
    font-weight: 700;
    color:#ccc;
    line-height: 1.1;
    margin: 0 0 35px;
}
.home-text-p{
    font-size: 1.1rem;
    color:#ccc;
    line-height: 1.8;
    margin-top:50px;
    margin-bottom:30px;
    max-width: 700px;
}
.button{
    text-decoration: none !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn{
    display: inline-block;
    padding: 12px 28px;
    background:#ddb73b;
    border-radius: 5px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: bolder;
    transition: all .45s ease;
    color: #000 !important;
    transform: scale(0.9);
}
.btn:hover{
    transform: none;
    background: #ccc;
    border:black 2px solid;
    color:black;
    cursor: pointer;
}
ridut-ima
header.sticky{
   background:#2a2a2a;
   border-bottom: 1px solid #ffffff1a;
   padding: 12px 15%;
}
.mouse{
    position: relative;
    width: calc(16px * 2);
    height: calc(31px * 2);
    margin: 0 auto 0;
    background: none;
    border: 2px solid white;
    border-radius: calc(16px * 2);
    z-index: 1;
    top:-15vh;
  }
  .mouse:after{
    background: none;
    display: block;
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    width: calc(4px * 2);
    height: calc(4px * 2);
    border: 2px solid white;
    border-radius: 100%;
    -webkit-animation-name: scrollWheel;
            animation-name: scrollWheel;
    -webkit-animation-duration: 1.4s;
            animation-duration: 1.4s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    will-change: transform;
  }