@media(width < 1921px){ 
    header{
        padding: 20px 2.5%;
        transition: .1s;
    }
}
@media(width < 1480px){   
    section{
        padding: 110px 3% 60px;
    }
}
@media(width < 1014px){   
    .mouse{
        top:-13vh;
    }
}
@media(width < 886px){   
    .mouse{
        top:-17vh;
    }
}
/* 
MARK:Mobile 
*/
@media(width < 868px){ 
    .home{
        background-image: linear-gradient( to top, rgba(0,0,0,0.1),rgba(0, 0, 0, 0), black ),
                          url(../images/Portada.webp);
    }
    .mouse{
        display: none;
    }
    .home-text{
        padding-left: 10px;
    }
    .home-text-h1{
        font-size: 4.5rem;         
    }
    .home-text-h3{
        font-size: 1.5rem;
        margin: 0 0 20px;      
    }
    .home-text-p{
        color:#fff !important;
        max-width: 600px;
        text-align: left;
        padding: 15px 0 0 15px;
    }
    .about, .home{
        display: grid;
    }
    .about-text-h2{
        margin-left:15px;
    }
    .about-text-h4{
        margin-left:15px;
    }
    .about-text-p{
        margin: 15px 0 0 15px;
        max-width: 600px;
    }
    .about-img img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .contact-transition, .home-transition{
        grid-template-columns: 1fr;
    }
    .contact-form h2{
        text-align: center;
    }
    .contact-text img{
        width: 50% !important;
    }
}
@media(width < 740px){
    .home-text-h1{
        font-size: 4rem;         
    }
    .home-text-h3{
        font-size: 1.2rem;
        margin: 15px 0 0 15px;      
    }
    .home-text-p{
        color:#fff !important;
        line-height: 1.8;
        max-width: 550px;
    }
    .about-logo{
        align-content: center;
        place-content: center;
    }
    .about-text-h2{
        margin-left:15px;
    }
    .about-text-h4{
        margin-left:15px;
    }
    .about-text-p{
        margin: 15px 0 0 15px;
        max-width: 550px;
    }
}
/*
MARK:Hamburguesa 
*/
@media(width < 1060px){  
    #menu-icon{
       display: block;
    }
    .navlist{
       position: absolute; 
       top: -1000px;
       right: 0;
       left:0;
       display: flex;
       flex-direction: column;
       background: linear-gradient(66.77deg,#101010  ,#202020);
       opacity: 97%;
       text-align: left;
       transition: all .45s ease;
       border-bottom: #ccc 2px solid;
       border-top: #ccc 2px solid;
    }
    .navlist a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color:#fff !important;
        font-weight: bolder;
    }
    .navlist.open{
        top: 100%;  
    }
    .navlist li:hover{
        background: linear-gradient(66.77deg,#ddb73b  ,#202020);
        border-left: #fff 3px solid;
    }
    .navlist li a:hover{
        margin-left: 30px;
        color: black !important;
    }
}
@media(width < 554px){
    .about-text-h2{
        margin-left:15px;
    }
    .about-text-h4{
        margin-left:15px;
    }
    .about-text-p{
        margin: 15px 0 0 15px;
        max-width: 450px;
    }
}
@media(width < 483px){
    .about-text-h2{
        margin-left:15px;
    }
    .about-text-h4{
        margin-left:15px;
    }
    .about-text-p{
        margin: 15px 0 0 15px;
        max-width: 400px;
    }
}
@media(width < 385px){
    .home-text-h1{
        font-size: 3rem;         
    }
    .home-text-p{
        margin-bottom:10px;
        max-width: 300px;
    }
    .about{
        display:grid;
        grid-template-columns: 1fr;
        margin-left: 0;
        padding: 0;
    }
    .about-text-h2{
        margin-left:20px;
        }
    .main-text-h2{
        font-size: 40px;
        }
    .about-text-p{
        margin: 15px 0 0 15px;
        width: 340px;
        text-align: justify;

    }
    .about-text-h4{
        font-size: 20px;
        line-height: 1.7;
        color: #fff !important;
        font-weight: 600;
        margin:30px,30px;
        text-align: center;
    }
}
/* 
MARK: Services 
*/
@media(width < 1018px){
    .services-content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px,auto));
        align-items: center;
        gap: 1.0rem;
        margin-top: 1rem;
    }
}
@media(width < 885px){
    .services-content{
        grid-template-columns: repeat(auto-fit, minmax(250px,auto));
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(width < 805px){
    .services-content{
        grid-template-columns: repeat(auto-fit, minmax(auto,200px));
        grid-template-columns: repeat(1, 1fr);
    }
    .item-service img{
        width: 50%;
        height: 50%;
        object-fit: contain;
    }
}
@media (width : 565px) {
    .item-service img{
        width: 100%;
        height: 50%;
        object-fit: contain;
    }
}