.services{
    background-image: linear-gradient( to top, rgba(0,0,0,0.1),rgba(0, 0, 0, 0), black ), 
                      url(../images/about.webp),
                      linear-gradient( to bottom, rgba(0,0,0,0.1),rgba(0, 0, 0, 0), black ) ;
    background-size: cover;
    background-position: center;
}
.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,auto));
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 1.0rem;
    margin-top: 1rem;
    place-content: center;
    text-align: center;
}
.item-service{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    border:#505050 2px solid;
    background-image: linear-gradient(66.77deg,#101010  ,#303030);
    place-content: center;
    align-content: center;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}
.item-service::before {
    content: "";
    position: absolute;
    top: -100px;
    left: -150%;
    width: 100%;
    height: 300%;
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.07)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.07) 50%, rgba(255, 255, 255, 0) 100%);
    -webkit-animation: reflectLight 5s infinite;
            animation: reflectLight 5s infinite;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
.item-service img{
    width: 230px;
    height:300px;
    border-radius: 8px;
    object-fit: cover;
}
.main-text{
    top: 10px;
    text-align: center;    
}
.main-text p{
    color: #ccc !important;
    font-size: 15px;
    padding: 15px;
}
.main-text h2{
    font-size: 3rem;
    line-height: 1;
    animation-name: transition_enfasis;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;    
}